{% extends 'base.html.twig' %}

{% block title %}Article List{% endblock %}

{% block body %}
<link rel="stylesheet" href="/styles/articles-custom.css" crossorigin="anonymous" />

<div class="articles-list-header">
    <h1>Articles</h1>

    <form class="search-form" method="get" action="{{ path('list_articles') }}">
        <input class="form-input" type="text" name="q" value="{{ app.request.query.get('q') }}">
        <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>


{% for article in articles %}
<div class="article-container">
    <div class="article-author">
        <p>{{ article.getAuthor().getNom() }}</p>
        <p>{{ article.getAuthor().getPrenom() }}</p>
    </div>
    <div class="article-detail">

        <div class="article-info">
            <div class="article-title">
                <h2>{{ article.title }}</h2>
            </div>
            <div class="article-description">
                <p>{{ article.content }}</p>
            </div>
        </div>
        <div class="article-image">
            <img src="{{ article.image }}" style="width:100px;heigth:100px;" alt="image"
                onerror="this.src='https://www.freeiconspng.com/uploads/no-image-icon-15.png'">
        </div>
    </div>
</div>
{% endfor %}


{{ knp_pagination_render(articles) }}

{% endblock %}